{% import "trees/rawhide.j2" as rawhide with context %}
{% set kernel_options = rawhide.kernel_options %}
{% set distro_name = "Fedora-eln-20250201.n.0" %}
{% set distro_requires %}
  <distro_name op="=" value="{{ distro_name }}"/>
  <distro_family op="=" value="FedoraELN"/>
  <distro_variant op="=" value="BaseOS"/>
{% endset %}
{% set repos = rawhide.repos %}
{% set host_requires %}
  {{ rawhide.host_requires }}
  {% if ARCH == "s390x" %}
    <not>
      <or>
        {# NOTE:(bgoncalv) exclude z13 machines as they are not supported on ARK #}
        <key_value key='CPUMODEL' op='=' value='2964'/>
      </or>
    </not>
  {% endif %}
  {% if ARCH == "ppc64le" %}
    <not>
      <or>
        {# NOTE:(bgoncalv) exclude Power8 machines as they are not supported on ARK #}
        <key_value key='CPUMODEL' op='like' value='POWER8%'/>
      </or>
    </not>
    {# NOTE:(bgoncalv) exclude Power9 baremetal machines as they are not supported #}
    <not>
      {% include "host_types/power9_baremetal.host_requires.xml.j2" %}
    </not>
  {% endif %}
  {% if ARCH == "x86_64" %}
    <not>
      <or>
        {# NOTE:(bgoncalv) fails to boot on eln kernel. #}
        {# Also there serial console doesn't work there. #}
        <hostname op="=" value="oraefajokull.gsslab.brq2.redhat.com"/>
      </or>
    </not>
  {% endif %}
{% endset %}
{% set ks_append | unindent %}
  <ks_append><![CDATA[
  %post --log=/dev/console
  set -x
  # remove fedora-eln.repo installed as part of fedora-repos-eln which adds the latest ELN compose
  rm -f /etc/yum.repos.d/fedora-eln.repo
  %end
  ]]>      </ks_append>
{% endset %}
{% set ks_append = rawhide.ks_append + ks_append %}
{% set kernel_options_post = "kunit.enable=1" %}
