{% set repos %}
<repo name="Nightly-BaseOS" url="http://download.eng.rdu2.redhat.com/rhel-8/nightly/updates/RHEL-8/{{ NIGHTLY_REPO }}/compose/BaseOS/{{ ARCH }}/os/"/>
<repo name="Nightly-AppStream" url="http://download.eng.rdu2.redhat.com/rhel-8/nightly/updates/RHEL-8/{{ NIGHTLY_REPO }}/compose/AppStream/{{ ARCH }}/os/"/>
<repo name="Nightly-CRB" url="http://download.eng.rdu2.redhat.com/rhel-8/nightly/updates/RHEL-8/{{ NIGHTLY_REPO }}/compose/CRB/{{ ARCH }}/os/"/>
{% if "rt" in COMPONENTS %}
  <repo name="Nightly-RT" url="http://download.eng.rdu2.redhat.com/rhel-8/nightly/updates/RHEL-8/{{ NIGHTLY_REPO }}/compose/RT/{{ ARCH }}/os/"/>
{% endif %}
{% endset %}
{% set kernel_options_post = "rd.emergency=reboot" %}
{# add efi=runtime otherwise reboot using kernel-rt will fail on machines with UEFI #}
{% if "rt" in COMPONENTS %}
  {% set kernel_options_post = kernel_options_post + " efi=runtime" %}
{% endif %}
